{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>Cart</title>
  </head>

  <style>

    table {
      border: 1px solid;
      text-align: center;
      margin: 10px;
      font-size: 3rem;
    }



  </style>

  <body>
 

   
 <h1>Your Cart</h1>

<p>Quantity Count: {{item_count}}</p>

 {% for item in cart %}

 <table>
<tr>
  <th>Product</th>
  <th>Price</th>
  <th>Quantity</th>
  <th>Total</th>
  
</tr>

<tr>
  <td>{{item.product.name}}</td>
  <td>{{item.price}} Ghc</td>
  <td>{{item.quantity}} /kg</td>
  <td>{{item.total_price}}</td>
</tr>


 </table>



<form method="post" action="{% url 'update_cart' item.product.id %}">
  {% csrf_token %}
  <input type="number" name="quantity" value="{{ item.quantity }}" min="1">
  <button type="submit">Update</button>
</form>


<form method="post" action="{% url 'remove_from_cart' item.product.id %}">
  {% csrf_token %}
  <button type="submit">Remove</button>
</form> <br><br>

{% endfor %} 



<form method="post" action="{% url 'clear_cart' %}">
  {% csrf_token %}
  <button type="submit">Clear Cart</button>
</form>


<table>
<tr>
  <th>Total</th>
</tr>

<tr>
  <td>{{ cart.get_total_price }} Ghc</td>
</tr>
</table>


<form action="{% url 'checkout' %}" method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-secondary">Confirm Order</button>
</form>

 <a href="{% url 'index' %}">continue shopping</a>



  <script src="{% static 'script/delete.js' %}"></script>
    <script src="{% static 'script/edit.js' %}"></script>
  </body>
</html>
