<!DOCTYPE html>
<html>
<head>
    <title>Checkout</title>
</head>
<body>
    <h1>Checkout</h1>
    <!-- {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %} -->





    <form method="post" action="">
        {% csrf_token %}
        {{ form.non_field_errors }}
        
        <div>
            <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
            {{ form.first_name }}
        </div>
        <div>
            <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
            {{ form.last_name }}
        </div>
        <div>
            <label for="{{ form.company_name.id_for_label }}">{{ form.company_name.label }}</label>
            {{ form.company_name }}
        </div>
        <div>
            <label for="{{ form.address.id_for_label }}">{{ form.address.label }}</label>
            {{ form.address }}
        </div>
        <div>
            <label for="{{ form.house_number_street_name.id_for_label }}">{{ form.house_number_street_name.label }}</label>
            {{ form.house_number_street_name }}
        </div>
        <div>
            <label for="{{ form.town_city.id_for_label }}">{{ form.town_city.label }}</label>
            {{ form.town_city }}
        </div>
        <div>
            <label for="{{ form.country.id_for_label }}">{{ form.country.label }}</label>
            {{ form.country }}
        </div>
        <div>
            <label for="{{ form.postcode_zip.id_for_label }}">{{ form.postcode_zip.label }}</label>
            {{ form.postcode_zip }}
        </div>
        <div>
            <label for="{{ form.mobile.id_for_label }}">{{ form.mobile.label }}</label>
            {{ form.mobile }}
        </div>
        <div>
            <label for="{{ form.email_address.id_for_label }}">{{ form.email_address.label }}</label>
            {{ form.email_address }}
        </div>
        <div>
            <label for="{{ form.create_account.id_for_label }}">{{ form.create_account.label }}</label>
            {{ form.create_account }}
        </div>
        <div>
            <label for="{{ form.ship_to_different_address.id_for_label }}">{{ form.ship_to_different_address.label }}</label>
            {{ form.ship_to_different_address }}
        </div>
        
        <fieldset>
            <legend>{{ form.payment_method.label }}</legend>
            {% for checkbox in form.payment_method %}
                <div>
                    {{ checkbox }}
                    <label for="{{ checkbox.id_for_label }}">{{ checkbox.choice_label }}</label>
                </div>
            {% endfor %}
        </fieldset>
        
      
        
        <button type="submit">Submit</button>
    </form>
    

















    <!-- <form method="post" action="">
        {% csrf_token %}
        {{ form.non_field_errors }}
        
        <div>
            <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
            {{ form.first_name }}
        </div>
        <div>
            <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
            {{ form.last_name }}
        </div>
        <div>
            <label for="{{ form.company_name.id_for_label }}">{{ form.company_name.label }}</label>
            {{ form.company_name }}
        </div>
        <div>
            <label for="{{ form.address.id_for_label }}">{{ form.address.label }}</label>
            {{ form.address }}
        </div>
        <div>
            <label for="{{ form.house_number_street_name.id_for_label }}">{{ form.house_number_street_name.label }}</label>
            {{ form.house_number_street_name }}
        </div>
        <div>
            <label for="{{ form.town_city.id_for_label }}">{{ form.town_city.label }}</label>
            {{ form.town_city }}
        </div>
        <div>
            <label for="{{ form.country.id_for_label }}">{{ form.country.label }}</label>
            {{ form.country }}
        </div>
        <div>
            <label for="{{ form.postcode_zip.id_for_label }}">{{ form.postcode_zip.label }}</label>
            {{ form.postcode_zip }}
        </div>
        <div>
            <label for="{{ form.mobile.id_for_label }}">{{ form.mobile.label }}</label>
            {{ form.mobile }}
        </div>
        <div>
            <label for="{{ form.email_address.id_for_label }}">{{ form.email_address.label }}</label>
            {{ form.email_address }}
        </div>
        <div>
            <label for="{{ form.create_account.id_for_label }}">{{ form.create_account.label }}</label>
            {{ form.create_account }}
        </div>
        <div>
            <label for="{{ form.ship_to_different_address.id_for_label }}">{{ form.ship_to_different_address.label }}</label>
            {{ form.ship_to_different_address }}
        </div>
        
        <fieldset>
            <legend>{{ form.payment_method.label }}</legend>
            {% for checkbox in form.payment_method %}
                <div>
                    {{ checkbox }}
                    <label for="{{ checkbox.id_for_label }}">{{ checkbox.choice_label }}</label>
                </div>
            {% endfor %}
        </fieldset>
        
        <button type="submit">Submit</button>
    </form>
     -->












<!-- <form action="{% url 'checkout' %}">
{% csrf_token  %}
    {{ form.non_field_errors }}


    <div>
        <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
        {{ form.first_name }}
    </div>

    <div>
        <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
        {{ form.last_name }}
    </div>


    <div>
        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
        {{ form.email }}
    </div>


    <div>
        <label for="{{ form.mobile.id_for_label }}">{{ form.mobile.label }}</label>
        {{ form.mobile }}
    </div>



    <div>
        <label for="{{ form.shipping.id_for_label }}">{{ form.shipping.label }}</label>
        {{ form.shipping }}
    </div>


    <button type="submit">Place Order</button>

</form> -->

  



<!-- 
    <form method="POST" action="{% url 'checkout' %}">


     
     <textarea name="shipping" id="" placeholder="order"></textarea>
        <button type="submit">Place Order</button>
    </form>
 -->


    <!-- <form method="POST" action="{% url 'checkout' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Place Order</button>
    </form> -->
</body>
</html>

