
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>Product List</title>
</head>


<style>

    .fa-solid{
        font-size: 2rem;
        padding-bottom: 20px;
    }
</style>

<body>
    <h1>Product List</h1>  
     
   

     <div>
        <i class="fa-solid fa-bag-shopping">({{ product_count }})</i>
    </div> 



     <a href="{% url 'cart_detail' %}">View carts</a>
    <ul>
        {% for product in products %}
            <li>
                <a href="{% url 'cart_add' id=product.id %}">{{ product.name }}</a>
            </li>
        {% endfor %}
    </ul>

   
 
</body>
</html>
