{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>{{ product.name }}</h1>
    <p>{{ product.description }}</p>
    <p>Price: ${{ product.price }}</p>

    <form method="post" action="{% url 'add_to_cart' id=product.id %}">
        {% csrf_token %}
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" min="1" value="1" />
        <button type="submit"  >Add to Cart</button>
        
    
    </form>


    <a href="{% url 'index' %}">Home</a>

  <script src="{% static 'script/add.js'%}"></script>
  <script src="{% static 'script/delete.js'%}"></script>
</body>
</html>
