<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
</head>
<body>







    <h1>sign up below</h1>
   
    <style>

        h5{
            color:red
        }

        input{
            display:grid;
            padding:5px;
            margin: 10px;
        }


        textarea{
            display: grid;
            margin: 10px;
        }
    </style>

    {% for message in messages%}
    <h5>{{message}}</h5>

    {% endfor %}

    <form action="register" method="POST">
         {% csrf_token %}
        <p>username</p>
        <input type="text" name="username" required>

       

        <p>password</p>

        <input type="password" name="password" required>

        <p>repeat password</p>

        <input type="password" name="password2" required> 



     <input type = "submit"> <p>if you already have an account <a href="login">Login</a>
    </form>





    
</body>
</html>